.admin-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 76vh;
    width: 100%;
}

/*USERS TABLE*/

.table-container{
    height: 68vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33%;
}

.table{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.table-element{
    background-color: hsl(60, 56%, 91%);
    padding: 0.5em;
    margin: 0.5em;
    border: 0.1em hsl(0, 0%, 80%) solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table-buttons svg {
    color: hsl(0, 100%, 40%);
}

.table-buttons svg:hover{
    color: hsl(0, 100%, 20%);
    cursor: pointer;
}

.page-navigator{
    display: flex;
    flex-direction: column;
}

.page{
  margin: 0 0.5em;
    display: flex;
    justify-content: space-between;
}

.page p{
    width: fit-content;
}

.page-navigation-buttons{
    padding: 0 0.5em;
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0 0.5em 0;
}

.page-navigation-buttons span{
    color: hsl(0, 100%, 40%);
}

.page-navigation-buttons span:hover{
    color: hsl(0, 100%, 20%);
    cursor: pointer;
}

/*USERS FORM*/

.admin-form{
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    width: 66%;
}

.form-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(0, 0%, 90%);
    margin-top: 0.5em;
}

.form-tabs{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-tab{
    padding: 1em;
    background-color: hsl(0, 0%, 70%);
}

.form-tab:hover{
    background-color: hsl(0, 100%, 20%);
    color: white;
    cursor: pointer;
}

.form-buttons{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin-right: 0.5em;
}

.form-buttons svg{
    margin-right: 0.5em;
    color: hsl(0, 100%, 40%);
}

.form-buttons svg:hover{
    color: hsl(0, 100%, 20%);
    cursor: pointer;
}

/*FORM INPUT*/

.form-users{
    background-color: hsl(0, 0%, 90%);
    margin-top: 0.5em;
    padding: 1em;
}

.form-item input{
    margin: 1em auto;
    width: 100%;
}

.form-item textarea{
    resize: none;
}

.ck-editor__editable{
    height: 21vh !important;
}

/*ERRORS CONTACT FORM*/

.just-validate-error-label{
    font-size: 1.2rem; 
    color: #dc3545 !important;
  }
  
  #popup-valid-form{
    position: absolute;
    z-index: 5000;
    top: 80%;
    left: 70%;
    width: 20%;
    padding: 2em;
    opacity: 0;
    text-align: center;
    color: hsl(34, 78%, 91%);
  }
  
  #popup-valid-form.success{
    background-color: #014910;
  }
  
  #popup-valid-form.error{
    background-color: #860909;
  }
  
  .popup_is_active{
    opacity: 0.8 !important;
    transition: 2s !important;
  }

  /*TABS*/

.tab-content{
    display: none;
  }
  
.is_selected{
    background-color: hsl(0, 100%, 20%);
    color: white;    
    transition: 1s;
  }

  .is_active{
    display:block;
  }

  /*DELETE WARNING*/

  .delete-warning-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40vh;
    right: 35%;
    width: 35%;
    height: 12vh;
    background-color: #dc3545;
    opacity: 0;
    color: white;
    text-align: center;
    line-height: 5vh;
    z-index: -1;

    button{
      cursor: pointer;
    }
  }

  .is_displayed{
    opacity: 0.9;
    transition: all 1s;
    z-index: 5000;
  }

  /*INPUT DE IMAGEN*/

  .image-selector input[type='file'] {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top:6vh;
    left:1vh;
  }

  .image-selector {
      width: 20%;
      cursor: pointer;
  }

  .image-selector{
      
      background-color: #fff;
      margin-left: 0.5em;
      margin-bottom: 0.5em;
      border-radius: 1em;    
  }

  .image-preview svg{
      height: 3.5em;
  }

  #image-preview{
      cursor: pointer; 
  }

  #image-preview img{
      width: 100%;
  }

  .image-svg{
    display: block;
  }
  
  .image-svg.hidden{
    display: none;
  }