/*====================
========FOOTER========
======================*/

footer {
    border-top: solid hsl(0, 100%, 50%);
    width: 100%;
    padding: 1em 0;
}

.copyright{
    margin-bottom: 0.5em;
    text-align: center;
    width: 100%;
}

.author{
    margin: 0;
    text-align: center;
}