/*====================
=========BUTTON=======
======================*/

.slider-form-button {
	background-image: linear-gradient(to right, hsl(0, 57%, 34%) 0%, hsl(0, 98%, 35%) 50%, hsl(0, 57%, 34%) 100%);
	background-size: 200% auto;
	border-radius: 1em;
	border: none;
	color: hsl(0, 0%, 100%);
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0;
	line-height: 0px;
	width: fit-content;
	padding: 1em 2em;
	transition: 0.5s;
	text-decoration: none;
  }
  
  .slider-form-button:hover {
	background-size: 100% auto;
  }
  
  .slider-form-button:focus {
	outline: 0;
  }