h1, h2, h3, a, p, button, li{
    color: hsl(0, 0%, 0%);
    font-family: $font-stack;
}

a, td, th, p, button, span, label, select, input, textarea, li{
    font-family: $font-stack;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    font-weight: 600;
    text-decoration: none;
    transition: 300ms;

    &:hover, &:focus {
        outline: none;
        text-decoration: none;
        outline-offset: 0;
    }
}

@media (max-width:479px) {
    
    h1 {
        font-size: 1.5em;
        font-weight: 600;
        text-decoration: none;
    }
    
    h2 {
        font-size: 1.2em;
        font-weight: 600;
        text-decoration: none;
    }

    h3, a, p, button, li{
        font-size: 0.8em;
        font-weight: 600;
        text-decoration: none;
    }
}