/*FILTER MENU*/

#filter-button{
    height: 4vh;
    background-color: hsl(0, 0%, 70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#filter-button svg{
    height: 1.5em;
    width: 1.5em;
    color: hsl(0, 100%, 40%);
}



#filter-button{ 

    svg:hover{
        color: hsl(0, 100%, 20%);
        cursor: pointer;
    }

    svg:hover ~ .tooltiptext{
        visibility: visible !important;
        z-index: 6000 !important;
        opacity: 1 !important;
        transition: all 1s;
    }

    .tooltiptext{
        position: absolute;
        visibility: hidden;
        color: white;
        width: 4em;
        height: 2em;
        background: hsl(0, 100%, 20%);
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        border-radius: 0.5em;
        margin-left: 9%;
        text-align: center;
        line-height: 2em;
        opacity: 0;
        transition: all 1s;
    }

    .tooltiptext::after {
        content: "";
        position: absolute;
        right: 100%;
        top: 0.5em;
        width: 0;
        height: 0;
        border-top: 0.5em solid transparent;
        border-right: 0.8em solid hsl(0, 100%, 20%);
        border-bottom: 0.5em solid transparent;
    }
}

#filter-menu{
    position: absolute;
    top: 13vh;
    width: 90%;
    height: 0;
    background-color: hsl(0, 0%, 70%);
    transition: all 1s !important;
    overflow: hidden;
    z-index: -1;
}

#filter-form input{
    margin: 1em 1em;
    width: 90%;
}

/*Click on filter button activates new styles*/

.is_shown{
    height: 30vh !important;
    transition: all 1s !important;
    z-index: 5000 !important;
}