/*====================
===CHECKOUT MAIN======
======================*/
.desktop-2-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin: 0 0 1em 0;
  }
  
  .checkout-billing-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    padding: 0;
    width: 49%;
    background-color: #cccccc;
    border-radius: 1em;
  }
  
  .checkout-billing-title {
    margin: 0;
    margin-bottom: 1em;
    width: 90%;
  }
  
  .checkout-form-container {
    width: 90%;
  }
  
  .checkout-form-input {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .checkout-form-item, .checkout-form-item input {
    width: 100%;
  }
  
  .checkout-form-pay {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  
  .checkout-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
    height: 80vh;
    margin: 0;
    padding: 0 1% 0 1%;
    width: 47%;
    background-color: #cccccc;
    border-radius: 1em;
  }
  
  .checkout-order {
    width: 90%;
    margin: 0;
  }
  
  .checkout-order-table {
    width: 100%;
    text-align: left;
  }
  
  .checkout-order-reservation {
    gap: 0.5em;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  #reservation-button {
    display: flex;
    align-items: center;
  }
  
  #reservation-quantity {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    border: solid hsl(0, 0%, 70%) 1px;
    border-radius: 0.1em;
    background-color: hsl(0, 0%, 95%);
  }
  
  .checkout-total {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5em;
    margin: 0 1em;
  }
  
  #total-quantity {
    width: 3em;
  }